* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.clear{
    clear: both;
}
:root {
    --font-primary: Montserrat;
}
.color-while {
    color: #FFF;
}
.justify-space-bw {
    justify-content: space-between;
}
.align-item-center {
    align-items: center;
}
.d-flex {
    display: flex;
}
.width-50 {
    width: 50% !important;
}
.width-60 {
    width: 60%;
}
.width-100 {
    width: 100% !important;
}
.heigh-100 {
    height: 100vh !important;
}
.t-center {
    text-align: center !important;
}
.width-100vw {
    width: 100vw;
}

/* Header  */


.VSSE__header-title {
    /* font-family:'Montserrat', sans-serif; */
    font-family: var(--font-primary);
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
}
.VSSE__header-showmenu-btn {
    padding: 0;
    display: flex;
    /* margin-right: 20px; */
} 
.VSSE__header-show-menu-icon {
    display: none;
}
.VSSE_header-notification-icon {
    width: 30px;
}
.VSSE__header-avatar-image {
    width: 40px;
    margin-left: 40px;
}
.VSSE-header-title {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    line-height: 130%; /* 52px */
    margin-left: 20px;
}
.VSSE__header-container {
    padding: 10px 30px;
}

/* Search  */

.VSSE__body-search-container {
    position: relative;
}
.VSSE__body-search-icon-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* margin-left: 20px; */
}
.VSSE__body-search-icon {
    margin-left: 15px;
}
.VSSE__body-input {
    padding: 14px 50px 14px 50px;
    border-radius: 12px;
    background: #F5F5F5;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: var(--font-primary);
    line-height: 130%;
}
.VSSE__body-input:-ms-input-placeholder { 
    color: #CCC;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}	  
.VSSE__body-input::-ms-input-placeholder { 
    color: #CCC;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.VSSE__body-input::placeholder { 
    color: #CCC;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
/* Body title  */

.VSSE__body-title {
    padding: 30px 0;
}
.VSSE__body-title-text {
    color: #000;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    display: flex;
    align-items: center;
}




  /* CSS chuyển trang */

.VSSE__next-page-container {
    padding: 30px 20px;
}
.VSSE__select-number-of-acc {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color: #666;
} 
.VSSE__select-number-of-acc {
    padding: 10px 40px 10px 20px;
    border: 1px solid #DDD;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    
    /* margin-left: 10px; */
}
.VSSE__select-num-acc-container {
    border-radius: 8px;
    background: url('../imgs/Chevron.jpg') no-repeat 80% #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
    margin: auto;
}
.VSSE-page-number,
.VSSE-number-of-acc-text {
    color: #333;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.VSSE-number-of-acc-text {
    margin-right: 10px;
}

.VSSE-page-number {
    margin-left: 30px;
    margin-right: 20px;
}
.VSSE-next-page-item {
    width: 32px;
    height: 32px;
    border: 1px solid #DDD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.VSSE-next-page-item:not(:first-child) {
    margin-left: 5px;
}


/* CSS popup  */
.VSSE__popup-container {
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;

}
.VSSE__popup {
    position: fixed;
    width: 450px;
    height: 280px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    animation: popupFadeIn ease-in-out 0.3s ;
}
.VSSE__popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.50);
    justify-content: center;
}
.VSSE__popup-body-text {
    padding: 20px 0;
}
.VSSE__popup-header-title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.VSSE__popup-body-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.popup-open {
    display: flex;
} 

@keyframes popupFadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(-50%);
        opacity: 1;
    }
}

.VSSE__modal-btn-close,
.VSSE__modal-btn-confirm {
    min-width: 150px;
    padding: 7px 35px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.VSSE__modal-btn-close {
    background-color: #D9534F;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.VSSE__modal-btn-confirm {
    background-color: #77DCAE;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}