html {
    font-family: Montserrat;
}

.VSSE__body-container {
    width: 100%;
    height: 1100px;
    background: #F5F5F5;
    
}

.VSSE__body-body {
    width: 100%;
    background: #fff;
    height: 90%;
    border-radius: 10px;
    overflow: scroll;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
    /* display: none; */
}
.VSSE__body-body-title {
    padding: 30px 20px 20px 20px;
}
.VSSE__body-body::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}
.VSSE__body-content {
    width: 95%;
    height: 95%;
    margin: auto;
}
.VSSE__body-insert {
    text-decoration: none;
    padding: 10px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    background: #77DCAE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

/* CSS thẻ select Select  */
.VSSE__select-authority {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color: #666;
}

.VSSE__select-authority {
    padding: 14px 35px ;
    background-image: none;
    border: 0 !important;
    outline: 0;
    border: 0;
    font-size: 16px;
    width: 100%;
}


.VSSE__select-container {
    border-radius: 8px;
    overflow: hidden;
    background: url('../imgs/Chevron.jpg') no-repeat 90% #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
    max-width: 160px;
    margin: auto;
}

/* CSS Trạng Thái  */
.VSSE__status-container {
    max-width: 140px;
    margin: auto;
}
.VSSE__status {
    font-family: Inter;
    border-radius: 4px;
    border: 2px solid #56BCFF;
    padding: 10px 10px;
    color: #56BCFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.VSSE__status-off {
    color: #F15377;
    border: 2px solid #F15377;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

/*  CSS Thao Tác  */

.VSSE__operate a {
    text-decoration: none;
}
.VSSE__operate-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.VSSE__operate {
    justify-content: space-around;
}


.VSSE__note {
    background: #28B4FF;
}

.VSSE__delete {
    background: #D9534F;
}

.VSSE__key { 
    background: #FFC836;
}
.VSSE__rotate {
    border-radius: 6px;
    background: #77DCAE;
}
/* CSS footer next page  */

.VSSE__next-page-container {
    float: right;
}
.VSSE__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* display: none; */
}

/* CSS thêm mới */

.VSSE__modal {
    display: none;
}
.VSSE__modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
}
.VSSE__modal-body {
    z-index: 1;
    width: 45%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    padding: 30px 40px;
    overflow: scroll;
    animation: modalAddAccFadeIn ease-in-out 0.3s;
} 
.VSSE__modal-body-header-title {
    color: #000;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 33.8px */
    margin-bottom: 25px;
}
.VSSE__modal-form-title {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-top: 25px;
}
.VSSE__modal-body-line {
    border-bottom: 1px dashed #C5C5C5;
}
.VSSE__modal-form-select,
.VSSE__modal-form-input {
    width: 100%;
    padding: 7px 14px;
    border-radius: 4px;
    border: 1px solid #CCC;
    outline: none;
}
.VSSE__modal-form-area {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #CCC;
    outline: none;
}

.VSSE__modal-btn-close,
.VSSE__modal-btn-confirm {
    min-width: 150px;
    padding: 7px 35px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.VSSE__modal-btn-close {
    background-color: #D9534F;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.VSSE__modal-btn-confirm {
    background-color: #77DCAE;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}
.VSSE__modal-form-btn {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.VSSE__modal-body::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}
.VSSE__modal-open {
    display: block;
}

@keyframes modalAddAccFadeIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* CSS popup  */
.VSSE__popup-container {
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;

}
.VSSE__popup {
    position: fixed;
    width: 450px;
    height: 280px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    animation: popupFadeIn ease-in-out 0.3s ;
}
.VSSE__popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.50);
    justify-content: center;
}
.VSSE__popup-body-text {
    padding: 20px 0;
}
.VSSE__popup-header-title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.VSSE__popup-body-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.popup-open {
    display: flex;
} 

@keyframes popupFadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(-50%);
        opacity: 1;
    }
}